<header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/keywords">KEYWORDS</a></li>
            <li><a href="/schema">SCHEMA</a></li>
            <li><a href="/urls">URLS</a></li>
        </ul>
    </nav>
</header>