<html>

<head>
  <title>Express</title>
  <style>
    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    body > div {
      padding: 5px;
      border-radius: 5px;
      background-color: gray;
    }

    .buttons {
      display: flex;
    }

    .buttons > * {
      flex: 1;
    }

    .table {
      background-color: white;
      border-radius: 5px;
      display: grid;
      column-gap: 10px;
      justify-items: center;
      grid-template-columns: <%= "20px auto ".concat(columns.map(()=>"auto").join(" "))%>;
    }
  </style>
</head>

<body>
  <div>
    <div class="buttons">
      <button>New Sources</button>
      <button>Current Sources</button>
    </div>
    <div class="table">
      <div class="row-0"></div>
      <div class="row-0">approved?</div>
      <% columns.forEach(col => {%>
        <div class="row-0"><%= col %></div>
      <% }); %>
    </div>
    <button class="submit">submit</button>
  </div>
  <script>
    const table = document.querySelector('.table');
    const [button1, button2] = document.querySelectorAll('.buttons > *');
    const submitButton = document.querySelector('.submit');

    button1.addEventListener("click", async () => {
      const res = await fetch("/new-sources/", {
        method: "POST",
        body: JSON.stringify({lastSearchDate: "2020"}), //TODO: storing/retriving last search date
        headers: {
          "Content-Type": "application/json"
        }
      });

      const {data} = await res.json();

      data.forEach(entry=>{
        const newRow =  [<%columns.forEach(str=>{ %> "<%= str%>",  <%})%>].map(col=>entry[col]);
        const rowNumber = Number(Array.from(table.lastElementChild.classList).find(x=>x.startsWith("row-")).slice(4)) + 1;

        const rowNumberDiv = document.createElement("div");
        rowNumberDiv.textContent = rowNumber;
        rowNumberDiv.classList.add(`row-${rowNumber}`);

        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.id = `row-${rowNumber}`;
        checkbox.name = `row-${rowNumber}`;
        checkbox.value = 'yes';
        
        table.appendChild(rowNumberDiv);
        table.appendChild(checkbox);

        newRow.forEach((field,index) => {
          const div = document.createElement("div");
          div.classList.add(`row-${rowNumber}`);
          div.classList.add([<% columns.forEach(col => { %> "<%= col %>", <%});%>][index]);
          div.textContent = field;
          table.appendChild(div);
        });
      });
    });

    submitButton.addEventListener("click", async () => {

    });
  </script>
</body>

</html>
